{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-sm-9">
    <div class="panel panel-default m-b-0">
      <div class="panel-heading">
        <h3 class="m-y-0">Calendrier des activités</h3>
      </div>
      <div class="panel-body">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default m-b-0">
      <div class="panel-heading">
        <h3 class="m-y-0">Activités proches</h3>
      </div>
      <div class="panel-body">
        <div id="external-events">
          <div class="fc-event mb-0-5"><a href="#" style="color: white;">10-11-2017 au 12-11-2017 <br>Lancement national des branches</a></div>
          <div class="fc-event mb-0-5"><a href="#" style="color: white;">17-11-2017 au 19-11-2017 <br> Seminaire de reflexion de la région</a></div>
          <div class="fc-event mb-0-5">My Event 3</div>
          <div class="fc-event mb-0-5">My Event 4</div>
          <div class="fc-event mb-0-5">My Event 5</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('ressources/js/pages-calendar.min.js')}}"></script>
{% endblock %}
